USE [master]
GO
/****** Object:  Database [Prueba]    Script Date: 17/10/2022 19:39:55 ******/
CREATE DATABASE [Prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Prueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Prueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 17/10/2022 19:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[cod_persona] [int] IDENTITY(1,1) NOT NULL,
	[nom_persona] [varchar](50) NULL,
	[fec_nac] [date] NULL,
	[cod_sector] [int] NULL,
	[cod_zona] [int] NULL,
	[sueldo] [int] NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[cod_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sector]    Script Date: 17/10/2022 19:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sector](
	[cod_sector] [int] IDENTITY(1,1) NOT NULL,
	[des_sector] [varchar](50) NULL,
 CONSTRAINT [PK_sector] PRIMARY KEY CLUSTERED 
(
	[cod_sector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zona]    Script Date: 17/10/2022 19:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zona](
	[cod_zona] [int] IDENTITY(1,1) NOT NULL,
	[cod_sector] [int] NULL,
	[des_zona] [varchar](50) NULL,
 CONSTRAINT [PK_zona] PRIMARY KEY CLUSTERED 
(
	[cod_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [FK_persona_sector] FOREIGN KEY([cod_sector])
REFERENCES [dbo].[sector] ([cod_sector])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [FK_persona_sector]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [FK_persona_zona] FOREIGN KEY([cod_zona])
REFERENCES [dbo].[zona] ([cod_zona])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [FK_persona_zona]
GO
ALTER TABLE [dbo].[zona]  WITH CHECK ADD  CONSTRAINT [FK_zona_sector] FOREIGN KEY([cod_sector])
REFERENCES [dbo].[sector] ([cod_sector])
GO
ALTER TABLE [dbo].[zona] CHECK CONSTRAINT [FK_zona_sector]
GO
USE [master]
GO
