table {
    width: 100%;
}


td, th{
    width: 15%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-icon{
    margin-left: 3px;
}

.delete{
    cursor: pointer;
    color: #E15639;
}

.edit{
    cursor: pointer;
    color: #1878B0;
}

.search{
    cursor: pointer;
}

.btnAgg{
    font-size: 10px;
    line-height: 30px;
    width: 80px;
}